.ic-rating_rs {
  height: 20px;
  margin-right: 5px;
}

.val-rating_rs {
  font-size: 14px;
  font-weight: bold;
}

.rating-container-details_rs {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5px;
  height: 20px;
}

.rating-container-list_rs {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 2px;
  padding: 2px;
  gap: 2px;
  position: absolute;
  right: 0;
  bottom: 0;
  background: #00000085;
  border-radius: 5px;
}

.rating-container-details_rs .rating_rs {
  display: flex;
  align-items: center;
  margin-right: 1.25rem;
}

.loader_rs {
  border: 4px solid #f3f3f3;
  border-top: 4px solid #000000;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  animation: spin_rs 2s linear infinite;
}

@keyframes spin_rs {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}